/*why are undescores used for search css?*/
/*i personally dont like adding section and article to selectors*/

.ideas-section {
  display: flex;
  justify-content: center;
}

.search-field {
  margin: 344px auto 0px;
  width: 100%;
}

.ideas-list {
  display: flex;
  flex-direction: column;
  margin: 423px auto 0px;
  position: absolute;
  width: 60%;
  z-index: -1;
}

.search {
  background-color: #FFF;
  position: fixed;
  z-index: 1;
}

.show-hide-btn {
  margin: 418px 0 0 0;
  z-index-index: 1;
}