.idea__list {
  display: flex;
  justify-content: center;
}

.section__search-field {
  margin: 344px auto 0px;
  width: 100%;
}


.section__ideas {
  display: flex;
  flex-direction: column;
  margin: 423px auto 0px;
  position: absolute;
  width: 60%;
  z-index: -1;
}

.article__search-field {
  background-color: #FFF;
  position: fixed;
  z-index: 1;
}