html {
 box-sizing: border-box;
}

*, *:before, *:after {
 box-sizing: inherit;
 margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}


.section__main {
  background-color: #E5F3F2;
  height: 330px;
  position: fixed;
  width: 100vw;
  z-index: 2;
}

h1 {
  color: #00A79D;
  font-size: 64px;
  font-weight: 700;
  margin: 10px auto 20px;
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

span {
  color: #6D6E71;
}

article {
  margin: 10px auto;
  text-align: center;
  width: 60%; 
}

input {
  font-size: 32px;
  height: 50px;
  margin-bottom: 20px;
  max-width: 600px;
  padding-left: 10px;
  width: 100%;
}


.form__button-save {
  background-color: #00A79D;
  color: #FFF;
  padding: 0;
}

.form__button-save:hover {
  background-color: #045E55;
  color: #FFF;
}

input::placeholder {
  color: #BDBEC0;
}